<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Turkey_hunting_system.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Turkey_hunting_system.My.MySettings>
            <setting name="savetime" serializeAs="String">
                <value />
            </setting>
            <setting name="chapter" serializeAs="String">
                <value />
            </setting>
            <setting name="place" serializeAs="String">
                <value />
            </setting>
            <setting name="weapon" serializeAs="String">
                <value />
            </setting>
            <setting name="shield" serializeAs="String">
                <value />
            </setting>
            <setting name="magics" serializeAs="String">
                <value />
            </setting>
            <setting name="revival" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="curative" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="appendix" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="potionshop" serializeAs="String">
                <value />
            </setting>
            <setting name="items" serializeAs="String">
                <value />
            </setting>
            <setting name="nest_destroyed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="witch_book" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="unlocked" serializeAs="String">
                <value />
            </setting>
            <setting name="missions" serializeAs="String">
                <value />
            </setting>
        </Turkey_hunting_system.My.MySettings>
    </userSettings>
</configuration>